<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="homeLayout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Dostępne testy</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dostępne testy</h1>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div ng-show="availableExamsCtrl.availableExams.length < 1">
            <div class="col-sm-3"></div>
            <div class="alert alert-info col-sm-6" role="alert">
                Brak dostępnych testów... Upewnij się, że dodałeś swojego nauczyciela
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" ng-show="availableExamsCtrl.availableExams.length > 0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Czas Dostępu</th>
                        <th>Ilość pytań</th>
                        <th>Czas Trwania</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exam in availableExamsCtrl.availableExams">
                        <td>{{exam.testDTO.name}}</td>
                        <td>{{exam.examDTO.startDate}} - {{exam.examDTO.endDate}}</td>
                        <td>{{exam.examDTO.questionsAmount}}</td>
                        <td>{{exam.examDTO.durationSeconds}}</td>
                        <td><a ui-sref="examaccess({examid: exam.examDTO.id})" class="btn btn-info" role="button">Przejdź</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>


</body>
</html>