<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="homeLayout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Moje oceny</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Moje oceny</h1>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div ng-show="myGradesCtrl.myGrades.length < 1">
            <div class="col-sm-3"></div>
            <div class="alert alert-info col-sm-6" role="alert">
                Brak ocen
            </div>
            <div class="col-sm-3"></div>
        </div>


        <div class="panel panel-default" ng-show="myGradesCtrl.myGrades.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">Oceny</h3>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Data</th>
                            <th>Punkty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="grade in myGradesCtrl.myGrades">
                            <td>{{grade.name}}</td>
                            <td>{{grade.startTime | date: 'M/d/yy H:mm'}}</td>
                            <td ng-show="!grade.needToGradeOpenAnswer">{{grade.gradePoints}}/{{grade.gradeMaxPoints}}
                            </td>
                            <td ng-show="grade.needToGradeOpenAnswer">nieocenione pytania otwarte</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>


</body>
</html>