<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="homeLayout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Nauczyciele</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nauczyciele</h1>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nauczyciela</h3>
                </div>
                <div class="panel-body">

                    <form novalidate name="teacherResourceAccessForm" class="simple-form">
                        <label for="email">Email nauczyciela:
                            <span style="color:red"
                                  ng-show="teacherResourceAccessForm.email.$dirty && teacherResourceAccessForm.email.$invalid">
                                    <span ng-show="teacherResourceAccessForm.email.$error.required">Pole wymagane</span>
                                    <span ng-show="teacherResourceAccessForm.email.$error.email">Niepoprawny adres email</span>
                            </span>
                        </label>
                        <input type="email" name="email" id="email" class="form-control"
                               ng-model="myTeachersCtrl.teacherResourcesAccess.email" required/>


                        <label for="password">Hasło dostępu:
                        <span style="color:red"
                              ng-show="teacherResourceAccessForm.password.$dirty && teacherResourceAccessForm.password.$invalid">
                                <span ng-show="teacherResourceAccessForm.password.$error.required">Pole wymagane</span>
                        </span>
                        </label>

                        <div class="input-group">
                            <input class="form-control" ng-show="showpassword" name="password" type="text"
                                   ng-model="myTeachersCtrl.teacherResourcesAccess.password" required>
                            <input class="form-control" ng-hide="showpassword" type="password"
                                   ng-model="myTeachersCtrl.teacherResourcesAccess.password" required>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="showpassword" ng-checked="false">
                        </span>
                        </div>

                        <input type="submit" class="btn btn-success form-control"
                               ng-click="myTeachersCtrl.addTeacherResourcesAccess()"
                               value="Dodaj" ng-disabled="!teacherResourceAccessForm.$valid"/>

                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Moi nauczyciele</h3>
                </div>
                <div class="panel-body">

                <span style="color:red"
                      ng-show="myTeachersCtrl.errorGetMyTeacher">
                                <span>{{myTeachersCtrl.errorGetMyTeacher}}</span>
                </span>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in myTeachersCtrl.myTeachers">
                            <td>{{teacher.firstName}}</td>
                            <td>{{teacher.lastName}}</td>
                            <td>{{teacher.email}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2"></div>

</div>


</body>
</html>