<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Dostępne testy</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rozwiązywanie testu</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="row" ng-controller="solveTestController as solveTestCtrl">

            <ul class="list-inline text-center">


                <li ng-repeat="(key, value) in solveTestCtrl.questionIds track by $index" class="borders">
                    <span ng-if="value" id="{{key}}" class="glyphicon glyphicon-floppy-saved">{{$index+1}}</span>
                    <span ng-if="!value" id="{{key}}" class="glyphicon glyphicon-pencil">{{$index+1}}</span>
                </li>
            </ul>

            <h2></h2>

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{solveTestCtrl.payload}}" aria-valuemin="0" aria-valuemax="{{solveTestCtrl.duration}}" style="width: {{solveTestCtrl.payload/solveTestCtrl.duration*100}}%">
                <span>{{solveTestCtrl.payload}} / {{solveTestCtrl.duration}} sekund</span>
                </div>
            </div>

            <h2>{{solveTestCtrl.question.text}}</h2>

            <div ng-show="solveTestCtrl.question.type === 'OPEN'">
                {{solveTestCtrl.openAnswer}}
                <textarea class="form-control" rows="3" placeholder="Odpowiedź"
                          ng-model="solveTestCtrl.openAnswer"></textarea>
            </div>

            <div ng-show="solveTestCtrl.question.type === 'CLOSE'">

                <div>
                    <div class="checkbox" ng-repeat="closeAnswer in solveTestCtrl.question.closeAnswers">
                        <label>
                            <input type="checkbox" ng-model="solveTestCtrl.closeAnswer[closeAnswer.id]">
                            {{closeAnswer.text}}
                        </label>
                    </div>
                </div>


            </div>

            <div ng-show="solveTestCtrl.question.type === 'KEY'">
                <input class="form-control" type="text" id="formGroupInputLarge" ng-model="solveTestCtrl.keyAnswer"
                       placeholder="Odpowiedź">

            </div>


            <nav>
                <ul class="pager">
                    <li><a ng-click="solveTestCtrl.previousQuestion()">Poprzednie</a></li>
                    <li><a ng-click="solveTestCtrl.nextQuestion()">Następne</a></li>
                </ul>
            </nav>


            <button class="btn btn-success" ng-click="solveTestCtrl.saveCurrentQuestion()">Zapisz Odpowiedź</button>

            <button class="btn btn-success" ng-click="solveTestCtrl.exitTest()">Zakończ test</button>

        </div>
    </div>
    <div class="col-lg-2"></div>

</div>
</body>
</html>