<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Dostępne testy</title>cript>

</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dostęp do zaliczenia</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="row">
            <form novalidate name="examAccessForm" class="simple-form">

                <label for="password">Hasło dostępu:
                        <span style="color:red"
                              ng-show="examAccessForm.password.$dirty && examAccessForm.password.$invalid">
                                <span ng-show="examAccessForm.password.$error.required">Pole wymagane</span>
                        </span>
                </label>

                <div class="input-group">
                    <input class="form-control" ng-show="showpassword" name="password" type="text"
                           ng-model="accessCtrl.examAccess.password" required>
                    <input class="form-control" ng-hide="showpassword" type="password"
                           ng-model="accessCtrl.examAccess.password" required>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="showpassword" ng-checked="false">
                        </span>
                </div>

                <input type="submit" class="btn btn-success form-control"
                       ng-click="accessCtrl.approveExamCredentials()"
                       ng-disabled="!examAccessForm.$valid"
                       value="Zatwierdź"/>

            </form>

        </div>
    </div>
    <div class="col-lg-2"></div>


</div>
</body>
</html>