<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        ng-app="app.teacher">
<head>

    <meta charset="UTF-8">
    <title>Oceny z zaliczeń</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Oceny</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Oceny</h3>
            </div>
            <div class="panel-body">
                <div ng-show="gradesCtrl.myExams.length < 1">
                    <div class="col-sm-3"></div>
                    <div class="alert alert-info col-sm-6" role="alert">
                        Brak wypełnionych zaliczeń
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="form-group" ng-show="gradesCtrl.myExams.length > 0">
                    <label for="sel1">Wybierz egzamin:</label>

                    <select class="form-control" id="examSelect" ng-model="gradesCtrl.currentExamSelect"
                            ng-change="gradesCtrl.onChangeExamSelect()">
                        <option ng-repeat="(key, value) in gradesCtrl.keyValueExams" value="{{key}}">{{value}}</option>
                    </select>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Mail</th>
                            <th>Ocena</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gradeData in gradesCtrl.grades track by $index">
                            <td>{{$index}}</td>
                            <td>{{gradeData.name}}</td>
                            <td>{{gradeData.surname}}</td>
                            <td>{{gradeData.mail}}</td>
                            <td ng-show="!gradeData.needToGradeOpenAnswer">{{gradeData.grade}}/{{gradeData.maxGrade}}
                            </td>
                            <td ng-show="gradeData.needToGradeOpenAnswer">
                                <button class="btn btn-success"
                                        ui-sref="gradeopenquestions({solvingExamId: gradeData.solvingExamId})">Oceń
                                </button>
                            </td>


                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>


</div>
</body>
</html>