<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        ng-app="app.teacher">
<head>

    <meta charset="UTF-8">
    <title>Oceny pytania otwarte</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ocenianie pytań otwartych</h1>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">


        <div class="panel panel-primary" ng-repeat="question in gradesCtrl.questionsToGrade track by $index">
            <div class="panel-heading">{{question.questionText}} ({{question.points}}pkt.)</div>

            <div class="panel-body">

            </div>

            <div class="panel-footer">
                <label for="points">Punkty:
                            <span style="color:red"
                                  ng-show="newQuestionForm.text.$dirty && newQuestionForm.text.$invalid">
                                    <span ng-show="newQuestionForm.text.$error.required">Pole wymagane</span>
                            </span>
                </label>
                <input type="number" min="0" max="{{question.points}}" name="points" id="points" class="form-control"
                       ng-model="grade.$index" required/>

                <button class="btn btn-success"
                        ng-click="gradesCtrl.saveQuestionPoints(question.questionId, question.gradeId, grade.$index )">
                    Zapisz
                </button>

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

    <button class="btn btn-success" ui-sref="examgrades">Koniec</button>


</div>
</body>
</html>