<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        ng-app="app.teacher">
<head>

    <meta charset="UTF-8">
    <title>Moje zaliczenia</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Moje zaliczenia</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Zarządzanie</h3>
            </div>
            <div class="panel-body">

                <div ng-show="myExamsCtrl.myExams.length < 1">
                    <div class="col-sm-3"></div>
                    <div class="alert alert-info col-sm-6" role="alert">
                        Nie posiadasz żadnych zaliczeń, utwórz jakieś!
                        <a ui-sref="prepareexam" class="btn btn-primary pull-right">Nowe zaliczenie</a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="table-responsive" ng-show="myExamsCtrl.myExams.length > 0">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Czas Dostępu</th>
                            <th>Ilość pytań</th>
                            <th>Czas Trwania</th>
                            <th>Usuń</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="exam in myExamsCtrl.myExams">
                            <td>{{exam.testDTO.name}}</td>
                            <td>{{exam.examDTO.startDate | date: 'M/d/yy H:mm'}} - {{exam.examDTO.endDate | date: 'M/d/yy H:mm'}}</td>
                            <td>{{exam.examDTO.questionsAmount}}</td>
                            <td>{{exam.examDTO.durationSeconds}}</td>
                            <td>
                                <button class="btn btn-danger remove_fields"
                                        ng-click="myExamsCtrl.removeExamById(exam.examDTO.id)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>


</div>
</body>
</html>