<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.teacher">
<head>
    <meta charset="UTF-8">
    <title>Moje testy</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Moje testy</h1>
        </div>

        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zarządzanie</h3>
                </div>
                <div class="panel-body">

                    <div ng-show="myTestsCtrl.myTests.length < 1">
                        <div class="col-sm-3"></div>
                        <div class="alert alert-info col-sm-6" role="alert">
                            Nie posiadasz żadnych testów, utwórz jakiś!
                            <a href="/testManager/new" class="btn btn-primary pull-right">Nowy test</a>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="table-responsive" ng-show="myTestsCtrl.myTests.length > 0">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>ilość pytań</th>
                                <th>Usuń</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="test in myTestsCtrl.myTests">
                                <td>{{test.name}}</td>
                                <td>{{test.questionsNumber}}</td>
                                <td>
                                    <button class="btn btn-danger remove_fields"
                                            ng-click="myTestsCtrl.removeTestById(test.id)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

</div>
</body>
</html>