<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie studenta</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dodawanie studenta</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row" ng-controller="newStudentController as newStudentCtrl">
                <form class="simple-form" name="newStudentForm" novalidate>


                    <div class="alert alert-info text-center" role="alert">
                        <strong class="glyphicon glyphicon-info-sign">
                        </strong>
                        <span>Hasło początkowe dla tego użytkownika to ImięNazwisko, login to adres e-mail.</span>
                    </div>
                    <div class="alert alert-info text-center" role="alert">
                        <strong class="glyphicon glyphicon-info-sign">
                        </strong>
                        <span>Hasło powinno być zmienione przez studenta jak najszybciej.</span>
                    </div>


                    <label for="firstName">Imię:
                                <span style="color:red"
                                      ng-show="newStudentForm.firstName.$dirty && newStudentForm.firstName.$invalid">
                                    <span ng-show="newStudentForm.firstName.$error.required">Pole wymagane</span>
                                </span>
                    </label>
                    <input type="text" name="firstName" id="firstName" min="1"
                           class="form-control formInput"
                           ng-model="newStudentCtrl.newStudent.firstName" required/>

                    <label for="lastName">Nazwisko:
                                <span style="color:red"
                                      ng-show="newStudentForm.lastName.$dirty && newStudentForm.lastName.$invalid">
                                    <span ng-show="newStudentForm.lastName.$error.required">Pole wymagane</span>
                                </span>
                    </label>
                    <input type="text" name="lastName" id="lastName" min="1"
                           class="form-control formInput"
                           ng-model="newStudentCtrl.newStudent.lastName" required/>

                    <label for="lastName">E-mail:
                                <span style="color:red"
                                      ng-show="newStudentForm.mail.$dirty && newStudentForm.mail.$invalid">
                                    <span ng-show="newStudentForm.mail.$error.required">Pole wymagane</span>
                                    <span ng-show="newStudentForm.$error.email">Nieprawidłowy adres e-mail</span>
                                </span>
                    </label>
                    <input type="email" name="mail" id="mail" min="1"
                           class="form-control formInput"
                           ng-model="newStudentCtrl.newStudent.email" required/>

                    <label for="lastName">Numer albumu:
                                <span style="color:red"
                                      ng-show="newStudentForm.albumNumber.$dirty && newStudentForm.albumNumber.$invalid">
                                    <span ng-show="newStudentForm.albumNumber.$error.required">Pole wymagane</span>
                                    <span>Numer albumu jest 6 cyfrowy</span>
                                </span>
                    </label>
                    <input type="number" name="albumNumber" id="albumNumber" minlength="6" maxlength="6"
                           class="form-control formInput"
                           ng-model="newStudentCtrl.newStudent.albumNumber" required/>


                    <input type="submit" class="btn btn-success form-control" ng-click="newStudentCtrl.saveNewStudent()"
                           value="Zapisz" ng-disabled="!newStudentForm.$valid"/>
                </form>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>
</body>
</html>