<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.teacher">
<head>
    <meta charset="UTF-8">
    <title>Przygotuj test</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <script src="../static/js/tagmanager.js" th:src="@{/js/tagmanager.js}"></script>
    <script src="../static/js/tagManagerConfig.js" th:src="@{/js/tagManagerConfig.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/tagmanager.css"
          th:href="@{/css/tagmanager.css}"/>

    <div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nowy test</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">

        <form class="simple-form" name="newTestForm" novalidate>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseOptionsBody">

                        <h3 class="panel-title">
                            Ustawienia testu
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h3>

                    </div>
                    <div id="collapseOptionsBody" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-sm-3"></div>
                            <div class="form-group col-sm-6">
                                <label for="name">Nazwa:
                                <span style="color:red" ng-show="newTestForm.name.$dirty && newTestForm.name.$invalid">
                                    <span ng-show="newTestForm.name.$error.required">Pole wymagane</span>
                                </span>
                                </label>
                                <input type="text" id="name" name="name" class="form-control" ng-model="test.new.name"
                                       required/>

                                <input type="submit" class="btn btn-success form-control" ng-click="test.save(user)"
                                       value="Zapisz" ng-disabled="!newTestForm.$valid"/>

                            </div>
                            <div class="col-sm-3"></div>

                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div id="questionsPanel" class="col-sm-12"
             ng-show="!test.sharedData.getById('newTestId')">
            <div class="panel panel-default">
                <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseAddedQuestionsBody">
                    <h3 class="panel-title">
                        Dodane pytania
                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h3>
                </div>
                <div id="collapseAddedQuestionsBody" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div ng-repeat="questionElement in test.questions">
                            <em>{{questionElement.text}}</em>
                        </div>
                    </div>
                </div>
            </div>

            <form novalidate name="newQuestionForm" class="simple-form">
                <div class="col-sm-12">
                    <br class="panel panel-default">
                        <div class="panel-body">


                            <label for="text">Treść pytania:
                            <span style="color:red"
                                  ng-show="newQuestionForm.text.$dirty && newQuestionForm.text.$invalid">
                                    <span ng-show="newQuestionForm.text.$error.required">Pole wymagane</span>
                            </span>
                            </label>
                            <input type="text" name="text" id="text" class="form-control"
                                   ng-model="test.question.text" required/>

                            <label for="points">Punkty:
                            </label>
                            <!--<input type="number" name="points" id="points" class="form-control"-->
                                   <!--ng-model="test.question.points" required/>-->
                            <span>{{test.question.points}}</span>
                            <input class="range" id="points" type="range" min="1" max="5" value="2" step="1" ng-model="test.question.points" />
                            <label>
                                <input type="radio" ng-model="test.question.type" value="OPEN">
                                Pytanie Otwarte
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="test.question.type" value="CLOSE">
                                Pytanie Zamknięte
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="test.question.type" value="KEY">
                                Pytanie Klucz
                            </label>
                        </div>

                        <div class="bg-info" ng-show="test.isSetQuestionType('OPEN')">
                            <div class="alert alert-info text-center" role="alert">
                                <strong class="glyphicon glyphicon-info-sign">
                                </strong>
                                <span>pytanie otwarte <mark>nie jest</mark> sprawdzane automatycznie</span>
                            </div>
                        </div>

                        <div class="panel panel-default" ng-show="test.isSetQuestionType('CLOSE')">
                            <div class="alert alert-info text-center" role="alert">
                                <strong class="glyphicon glyphicon-info-sign">
                                </strong>
                                <span>zaznacz odpowiedzi, które są <mark>prawidłowe</mark></span>
                            </div>
                            <div ng-show="test.question.closeAnswers.length < 2"
                                 class="alert alert-warning text-center" role="alert">
                                <strong class="glyphicon glyphicon glyphicon-warning-sign">
                                </strong>
                                <span>dodaj przynajmniej 2 odpowiedzi zamknięte</span>
                            </div>

                            <div ng-repeat="answerTextOrKey in test.question.closeAnswers">
                                <label for="text">Odpowiedź {{$index+1}}:
                                    <span style="color:red" ng-show="newQuestionForm.answerText{{$index+1}}.$invalid">
                                        <span ng-show="newQuestionForm.answerText{{$index+1}}.$error.required">Pole wymagane</span>
                                    </span>
                                </label>

                                <div class="input-group">
                                      <span class="input-group-addon">
                                        <input type="checkbox" ng-model="answerTextOrKey.isProper" aria-label="...">
                                      </span>
                                    <input type="text" class="form-control" name="answerText{{$index+1}}"
                                           ng-model="answerTextOrKey.text" required>

                                        <span class="input-group-addon">
                                                <button type="button" class="glyphicon glyphicon-remove"
                                                        title="Usuń pytanie"
                                                        ng-click="test.removeAnswer(answerTextOrKey)">
                                                </button>
                                        </span>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary"
                                   ng-click="test.addNewCloseAnswer()"
                                   value="Dodaj odpowiedź"/>
                        </div>

                        <div class="panel panel-default" ng-show="test.isSetQuestionType('KEY')">
                            <div ng-show="test.isEmptyTags" class="alert alert-warning text-center"
                                 role="alert">
                                <strong class="glyphicon glyphicon glyphicon-warning-sign">
                                </strong>
                                <span>dodaj przynajmniej 1 odpowiedź typu klucz</span>
                            </div>

                            <input type="text" ng-model="test.keyAnswer" name="tags" placeholder="Klucz"
                                   class="tm-input form-control"/>
                            <input type="submit" class="btn btn-primary" ng-click="test.addNewKeyAnswer()"
                                   value="Dodaj"></input>
                        </div>

                        <input type="submit" class="btn btn-success form-control"
                               ng-click="test.saveNewQuestion()" ng-disabled="!newQuestionForm.$valid"
                               value="Zapisz i dodaj nowe pytanie"/>


                        <button class="btn btn-warning" style="margin-top: 20px" ng-click="test.exit()">Zakończ</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
<div class="col-lg-2"></div>

</div>
</body>
</html>