<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.teacher">
<head>
    <meta charset="UTF-8">
    <title>Przygotuj zaliczenie</title>
</head>
<body>
<div id="page-wrapper" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Przygotuj zaliczenie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>

        <form class="simple-form col-lg-8" name="newExamForm" novalidate>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opcje</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">


                        <label for="examName">Nazwa zaliczenia:
                                <span style="color:red"
                                      ng-show="newExamForm.questionsAmount.$dirty && newExamForm.questionsAmount.$invalid">
                                    <span ng-show="newExamForm.questionsAmount.$error.required">Pole wymagane</span>
                                </span>
                        </label>
                        <input type="text" name="examName" id="examName" min="1"
                               class="form-control formInput"
                               ng-model="newExamCtrl.newExam.name" required/>


                        <div ng-show="!newExamCtrl.dateValid" class="alert alert-danger" role="alert">
                            Data startu musi być mniejsza od daty zakończenia!
                        </div>


                        <label for="password">Hasło do testu:</label>

                        <div class="input-group formInput">
                            <input class="form-control" ng-show="showpassword" name="password" type="text"
                                   ng-model="newExamCtrl.newExam.password" required>
                            <input class="form-control" ng-hide="showpassword" type="password"
                                   ng-model="newExamCtrl.newExam.password" required>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="showpassword" ng-checked="false">
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="newExamCtrl.generatePassword()">
                                Generuj
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->

                        <label for="startDate">Data możliwości rozpoczęcia zaliczenia:</label>
                        <input id='start-datetimepicker' type='text' class="formInput form-control" name="startDate"
                               ng-model="newExamCtrl.startDate" required>

                        <label for="endDate">Data zablokowania rozpoczęcia zaliczenia:</label>
                        <input id='end-datetimepicker' type='text' class="formInput form-control" name="endDate"
                               ng-model="newExamCtrl.endDate" required>

                        <label for="durationSeconds">Czas trwania:
                                <span style="color:red"
                                      ng-show="newExamForm.durationSeconds.$dirty && newExamForm.durationSeconds.$invalid">
                                    <span ng-show="newExamForm.durationSeconds.$error.required">Pole wymagane</span>
                                    <span ng-show="newExamForm.durationSeconds.$error.integer">Pole musi być liczbą</span>
                                    <span ng-show="newExamForm.durationSeconds.$error.min">Minimalna wartość to 1</span>
                                </span>
                        </label>
                        <input type="number" name="durationSeconds" min="1" id="durationSeconds"
                               class="formInput form-control"
                               ng-model="newExamCtrl.newExam.durationSeconds" required integer/>

                        <label for="chooseTest">Wybierz test:</label>
                        <select id="chooseTest" class="form-control formInput" ng-model="newExamCtrl.test.selected"
                                ng-change="newExamCtrl.initPoints()">
                            <option value="{{test.id}}" ng-repeat="test in newExamCtrl.myTests">{{test.name}}</option>
                        </select>


                        <div id="countPanel" ng-if="test.id == newExamCtrl.test.selected"
                             ng-repeat='test in newExamCtrl.myTests'>

                            <div ng-repeat="(key,value) in test.questionGroupedCount track by $index">

                                <label for="questionsAmount">Ilość pytań do wylosowania z puli pytań za
                                    <mark>{{key}}</mark>
                                    pkt:
                                    <mark>{{newExamCtrl.newExam.questionGroupedCount[key]}}
                                    </mark>
                                </label>

                                <input class="range" id="points{{key}}" type="range" min="0" max="{{value}}"
                                       ng-init="newExamCtrl.newExam.questionGroupedCount[key] = '0'" step="1"
                                       ng-model="newExamCtrl.newExam.questionGroupedCount[key]"/>
                            </div>
                        </div>

                        <div class="col-sm-1"></div>

                    </div>

                </div>


            </div>
        </form>
        <div class="col-lg-2"></div>

        <input type="submit" class="btn btn-success form-control" ng-click="newExamCtrl.saveNewExam()"
               value="Zapisz" ng-disabled="!newExamCtrl.newExamFormValid()"/>

    </div>

</div>
</body>
</html>