<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="app.teacher">
<head>
    <meta charset="UTF-8">
    <title>Ustawienia użytkownika</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ustawienia użytkownika</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ustawienia dostępu dla studentów</h3>
                </div>
                <br class="panel-body">

                <div ng-show="!userCtrl.passwordForStudents"
                     class="alert alert-warning text-center" role="alert">
                    <strong class="glyphicon glyphicon glyphicon-warning-sign">
                    </strong>
                    <span>ustaw hasło w celu umożliwienia dołączenia do Twoich zasobów </span>
                </div>

                <label for="passwordForStudents">publiczne hasło dostępu dla studentów: (minimum 3 max 15
                    znaków)</label>
                <div class="input-group">
                    <input class="form-control" name="passwordForStudents"
                           type="text" ng-model="userCtrl.passwordForStudents">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="userCtrl.generatePassword()">
                                Generuj
                            </button>
                        </span>
                </div>

                <button type="button" ng-show="userCtrl.passwordForStudents" class="btn btn-success col-sm-12"
                        ng-click="userCtrl.saveStudentAccessPassword()">Zapisz
                </button>

                <div>

                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

</div>
</body>
</html>