<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.orjjjg"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">



<head th:fragment="resources">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf.token}"></meta>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>

    <script src="../bowercomponents/jquery/dist/jquery.min.js"
            th:src="@{/bowercomponents/jquery/dist/jquery.min.js}"></script>
    <script src="/static/bowercomponents/jquery-ui/jquery-ui.min.js"
            th:src="@{/bowercomponents/jquery-ui/jquery-ui.min.js}"></script>
    <script src="/static/js/lib/jquery.modern-blink.js"
            th:src="@{/js/lib/jquery.modern-blink.js}"></script>
    <script src="/static/bowercomponents/angular/angular.js"
            th:src="@{/bowercomponents/angular/angular.js}"></script>

    <script src="/static/bowercomponents/angular-ui-router/release/angular-ui-router.js"
            th:src="@{/bowercomponents/angular-ui-router/release/angular-ui-router.js}"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="/static/bowercomponents/jquery-ui/themes/smoothness/jquery-ui.min.css"
          th:href="@{/bowercomponents/jquery-ui/themes/smoothness/jquery-ui.min.css}"/>


    <!-- Bootstrap Core CSS -->
    <link href="/static/bowercomponents/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/bowercomponents/bootstrap/dist/css/bootstrap.min.css}">

    <!-- MetisMenu CSS -->
    <link href="/static/bowercomponents/metisMenu/dist/metisMenu.min.css" rel="stylesheet"
          th:href="@{/bowercomponents/metisMenu/dist/metisMenu.min.css}">

    <!-- Timeline CSS -->
    <link href="/static/css/timeline.css" rel="stylesheet"
          th:href="@{/css/timeline.css}">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" th:href="@{/css/sb-admin-2.css}">

    <link href="/static/css/alertify.core.css" rel="stylesheet" th:href="@{/css/alertify.core.css}">
    <link href="/static/css/alertify.default.css" rel="stylesheet" th:href="@{/css/alertify.default.css}">
    <link href="/static/css/sweetalert.css" rel="stylesheet" th:href="@{/css/sweetalert.css}">

    <!-- Morris Charts CSS -->
    <link href="/static/bowercomponents/morrisjs/morris.css" rel="stylesheet" th:href="@{/bowercomponents/morrisjs/morris.css}">

    <!-- Custom Fonts -->
    <link href="/static/bowercomponents/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/bowercomponents/font-awesome/css/font-awesome.min.css}">

    <script src="/static/js/lib/sweetalert.min.js"
            th:src="@{/js/lib/sweetalert.min.js}"></script>


    <script src="/static/js/app.js"
            th:src="@{/js/app.js}"></script>

    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/app.student.js"
            th:src="@{/js/app.student.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/app.teacher.js"
            th:src="@{/js/app.teacher.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/services/testManagerService.js"
            th:src="@{/js/services/testManagerService.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/services/util.service.js"
            th:src="@{/js/services/util.service.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/teacher/sharedDataFactory.js"
            th:src="@{/js/teacher/sharedDataFactory.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/teacher/userSettingsController.js"
            th:src="@{/js/teacher/userSettingsController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/services/teacher/exam.service.js"
            th:src="@{/js/services/teacher/exam.service.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/services/user.service.js"
            th:src="@{/js/services/user.service.js}"></script>


    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/services/student/user.service.js"
            th:src="@{/js/services/student/user.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/services/student/solveexam.service.js"
            th:src="@{/js/services/student/solveexam.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/student/myTeachersController.js"
            th:src="@{/js/student/myTeachersController.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/student/availableExamsController.js"
            th:src="@{/js/student/availableExamsController.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/services/student/exam.service.js"
            th:src="@{/js/services/student/exam.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/student/examaccessController.js"
            th:src="@{/js/student/examaccessController.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/student/solveTestController.js"
            th:src="@{/js/student/solveTestController.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="/static/js/student/myGradesController.js"
            th:src="@{/js/student/myGradesController.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="../static/js/services/student/grades.service.js"
            th:src="@{/js/services/student/grades.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_STUDENT')" src="../static/js/student/changepasswordController.js"
            th:src="@{/js/student/changepasswordController.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/teacher/newTestController.js"
            th:src="@{/js/teacher/newTestController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/teacher/myTestsController.js"
            th:src="@{/js/teacher/myTestsController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/services/user.service.js"
            th:src="@{/js/services/user.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/teacher/newExamController.js"
            th:src="@{/js/teacher/newExamController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/services/teacher/exam.service.js"
            th:src="@{/js/services/teacher/exam.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/teacher/myExamsController.js"
            th:src="@{/js/teacher/myExamsController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="/static/js/teacher/gradesController.js"
            th:src="@{/js/teacher/gradesController.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/services/teacher/grades.service.js"
            th:src="@{/js/services/teacher/grades.service.js}"></script>
    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/teacher/newStudentController.js"
            th:src="@{/js/teacher/newStudentController.js}"></script>

    <script sec:authorize="hasRole('ROLE_TEACHER')" src="../static/js/teacher/changepasswordController.js"
            th:src="@{/js/teacher/changepasswordController.js}"></script>

    <script src="../static/js/lib/angular-drag-and-drop-lists.js"
            th:src="@{/js/lib/angular-drag-and-drop-lists.js}"></script>



    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <script src="../static/bowercomponents/angular-sanitize/angular-sanitize.min.js"
            th:src="@{/bowercomponents/angular-sanitize/angular-sanitize.min.js}"></script>

    <!--angular-ui select-->
    <script src="/static/bowercomponents/ui-select/dist/select.js"
            th:src="@{/bowercomponents/ui-select/dist/select.js}"></script>
    <link href="/static/bowercomponents/ui-select/dist/select.css" rel="stylesheet" type="text/css"
          th:href="@{/bowercomponents/ui-select/dist/select.css}">

    <script src="../static/bowercomponents/angular-ui-date/src/date.js"
            th:src="@{/bowercomponents/angular-ui-date/src/date.js}"></script>


    <!--bootstrap - switch -->
    <script src="/static/js/bootstrap-switch.min.js"
            th:src="@{/js/bootstrap-switch.min.js}"></script>
    <link href="/static/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-switch.min.css}">


    <!--datetimepicker-->
    <script type="text/javascript" src="/static/bowercomponents/moment/min/moment.min.js"
            th:src="@{/bowercomponents/moment/min/moment.min.js}"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrapdatetimepicker.min.js"
            th:src="@{/js/lib/bootstrapdatetimepicker.min.js}"></script>
    <link rel="stylesheet" href="/static/css/bootstrapdatetimepicker.min.css"
          th:href="@{/css/bootstrapdatetimepicker.min.css}"/>

    <!--<script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>-->
    <script type="text/javascript" src="/static/bowercomponents/sockjs/sockjs.min.js"
            th:src="@{/bowercomponents/sockjs/sockjs.min.js}"></script>

    <script type="text/javascript" src="/static/bowercomponents/stomp-websocket/lib/stomp.min.js"
            th:src="@{/bowercomponents/stomp-websocket/lib/stomp.min.js}"></script>
    <script type="text/javascript" src="/static/bowercomponents/stompie/stompie-min.js"
            th:src="@{/bowercomponents/stompie/stompie-min.js}"></script>
    <script type="text/javascript" src="/static/bowercomponents/ng-stomp/ng-stomp.js"
            th:src="@{/bowercomponents/ng-stomp/ng-stomp.js}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bowercomponents/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/bowercomponents/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bowercomponents/metisMenu/dist/metisMenu.min.js"
            th:src="@{/bowercomponents/metisMenu/dist/metisMenu.min.js}"></script>

    <script src="/static/bowercomponents/angular-resource/angular-resource.js"
            th:src="@{/bowercomponents/angular-resource/angular-resource.js}"></script>
    <script src="/static/js/lib/alertify.min.js"
            th:src="@{/js/lib/alertify.min.js}"></script>




    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"
            th:src="@{/js/sb-admin-2.js}"></script>
    <script src="/static/js/panel-chevron.js"
            th:src="@{/js/panel-chevron.js}"></script>


    <link rel="stylesheet" href="/static/css/site.css"
          th:href="@{/css/site.css}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" th:src="@{/js/html5shiv.js}></script>
        <script src="
            https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" th:src="@{/js/respond.min.js}></script>
    <![endif]-->

</head>
<body>
</body>

</html>