<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="app.student">
<head>
    <meta charset="UTF-8">
    <title>Zmiana Hasła</title>


</head>
<body>
<div id="page-wrapper" th:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Zmiana Hasła</h1>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row" ng-controller="changepasswordController as changepasswordCtrl">
            <form class="simple-form" name="changePasswordForm" novalidate>

                <label for="oldPassword">Stare Hasło:
                                <span style="color:red"
                                      ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid">
                                    <span ng-show="changePasswordForm.oldPassword.$error.required">Pole wymagane</span>
                                </span>
                </label>
                <input type="password" name="oldPassword" id="oldPassword" min="1"
                       class="form-control formInput"
                       ng-model="changepasswordCtrl.passwordForm.oldPassword" required/>

                <label for="newPassword1">Nowe Hasło:
                                <span style="color:red"
                                      ng-show="changePasswordForm.newPassword1.$dirty && changePasswordForm.newPassword1.$invalid">
                                    <span ng-show="changePasswordForm.newPassword1.$error.required">Pole wymagane</span>
                                </span>
                </label>
                <input type="password" name="newPassword1" id="newPassword1" min="1"
                       class="form-control formInput"
                       ng-model="changepasswordCtrl.passwordForm.newPassword1" required/>

                <label for="newPassword2">Powtórz nowe hasło:
                                <span style="color:red"
                                      ng-show="changePasswordForm.newPassword2.$dirty && changePasswordForm.newPassword2.$invalid">
                                    <span ng-show="changePasswordForm.newPassword2.$error.required">Pole wymagane</span>
                                </span>
                </label>
                <input type="password" name="newPassword2" id="newPassword2" min="1"
                       class="form-control formInput"
                       ng-model="changepasswordCtrl.passwordForm.newPassword2" required/>


                <div ng-if="changepasswordCtrl.passwordForm.newPassword2 != changepasswordCtrl.passwordForm.newPassword1" class="alert alert-info text-center" role="warning">
                    <strong class="glyphicon glyphicon-info-sign">
                    </strong>
                    <span>Hasła się różnią.</span>
                </div>


                <input type="submit" class="btn btn-success form-control" ng-click="changepasswordCtrl.saveNewPassword()"
                       value="Zapisz" ng-disabled="!changePasswordForm.$valid"/>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>
</body>
</html>