<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="init">
<head>
    <title>Spring Security Example </title>
    <link th:rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/login.css" th:href="@{/css/login.css}" />
</head>
<body>

<div class="text-center" style="padding:50px 0">
    <div class="logo">logowanie do systemu</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" th:action="@{/login}" method="post" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="username" placeholder="username"/>
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="password" placeholder="password"/>
                    </div>
                    <!--<div class="form-group login-group-checkbox">-->
                        <!--<input type="checkbox" id="lg_remember" name="lg_remember"/>-->
                        <!--<label for="lg_remember">remember</label>-->
                    <!--</div>-->
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!--<div class="etc-login-form">-->
                <!--<p>forgot your password? <a href="#">click here</a></p>-->
                <!--<p>nowy użytkownik? <a href="/user/register">Zarejestruj się jako student</a></p>-->
            <!--</div>-->
        </form>
    </div>
    <!-- end:Main Form -->
</div>





<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<!--<div class="row">-->
    <!--<div class="col-sm-5">f</div>-->
<!--<div class="col-sm-2">-->
<!--<form th:action="@{/login}" method="post">-->
    <!-- -->
    <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--<div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
<!--vlkesvjsdkv-->
<!--</div>-->
    <!--</div>-->


</body>
</html>